#activite {
	height: auto;
    padding: 0 20px 40px;
    
	display: flex;
	flex-direction: column;
}
#activite figcaption {
    margin-bottom: 13px;
    font-weight: bold;
}
#activite .card {
	height: 215px;
	width: 100%;
	border-radius: 20px;
	margin: 20px 0;
	box-shadow: 0 0 16px rgba(0,0,0,0.3);

	display: flex;
	flex-direction: column;
}
#activite figcaption {
	font-size: medium;
	margin: 14px 0 0 25px;
}
#activite .card  .img {
	width: 100%;
	height: 75%;
}
#activite .card  .img img {
	border-radius: 20px 20px 0 0;
}


footer {
	width: 100%;
	height: 525PX;
	font-size: medium;
	padding: 40px 20px 0;
	background-color: var(--main-bg-gray);
	
    display: flex;
	flex-direction: column;
	gap: 40px;
}
footer div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
footer h2 {
	font-size: larger;
}

@media (min-width: 768px) { /* version tablette */

    #activite {
        height: 650px;
        padding: 0px 10px;
        margin: -10px 0px;
        display: grid;
        grid-template-columns: 31.5% 31.5% 31.5%;
        grid-template-rows: 28px 250px 250px;
        column-gap: 20px;
        row-gap: 25px;
    }
    #activite h2 {
        display: grid;
        grid-column: 1/4;
        grid-row: 1/2;
        align-self: end;
        font-size: x-large;
    }      
    #activite .card {
        height: 250px;
        margin: 1px auto;
        padding: 5px;
        border-radius: 20px;
            
        gap: 0px;
        flex-direction: column;
    }
    #activite  .img {
        height: 135px;
    }
    #activite .img img {
        border-radius: 15px 15px 0 0;
    }
    #activite .card:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;      
    }
    #activite .card:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #activite .card:nth-child(4) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #activite .card:nth-child(5) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #activite .card:nth-child(6) {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #activite .card:nth-child(6) {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        height: 220px;
    }
}

@media (min-width: 1025px) { /* version desktop */
    #activite {
        height: 555px;
        padding: 0 20px;

        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 40px 200px 200px;
        gap: 4%;
    }
    #activite .card {
        height: 100%;
        width: 100%;
        padding: 0;
    }
    #activite .card:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    #activite .card:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #activite .card:nth-child(4) {
        grid-column: 2/3;
        grid-row: 3/4;
        height: 85%;
        align-self: flex-end;
    }
    #activite .card:nth-child(5) {
        grid-column: 3/4;
        grid-row: 2/4;
    }
    #activite .card:nth-child(6) {
        grid-column: 4/5;
        grid-row: 2/3;
        height: 85%;
        align-self: flex-start;
    }
    #activite .card:nth-child(7) {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    #activite .card  .img {
        width: 100%;
        height: 80%;
    }
    #activite .card-100  .img {
        width: 100%;
        height: 90%;
    }
    #activite .card figcaption {
        font-size: medium;
        margin: auto 0;
        margin-left: 20px;
    }

    footer {
        padding: 36px 40px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 28% 28% 28% auto;
    }
}   
    