#activite {
	height: auto;
    padding: 0 20px 40px;
    
	display: flex;
	flex-direction: column;
}
h3 {
    margin-bottom: 13px;
}
#activite .card {
	height: 215px;
	width: 100%;
	border-radius: 20px;
	margin: 20px 0;
	box-shadow: 0 0 16px rgba(0,0,0,0.3);

	display: flex;
	flex-direction: column;
}
#activite h3 {
	font-size: medium;
	margin: 14px 0 0 25px;
}
#activite .card .img {
	width: 100%;
	height: 75%;
	border-radius: 20px 20px 0 0;
}

#activite .card:nth-child(2) .img {
    background-color: #333;
    background-image: url('../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
#activite .card:nth-child(3) .img {
    background-color: #333;
    background-image: url('../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
#activite .card:nth-child(4) .img {
    background-color: #333;
    background-image: url('../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
#activite .card:nth-child(5) .img {
    background-color: #333;
    background-image: url('../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
#activite .card:nth-child(6) .img {
    background-color: #333;
    background-image: url('../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
#activite .card:nth-child(7) .img {
    background-color: #333;
    background-image: url('../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
footer {
	width: 100%;
	height: 525PX;
	font-size: medium;
	padding: 40px 20px 0;
	background-color: var(--main-bg-gray);
	
    display: flex;
	flex-direction: column;
	gap: 40px;
}

footer div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
footer h2 {
	font-size: larger;
}

@media (min-width: 768px) {
  
#activite .card { cursor: pointer;}

#activite {
    padding: 0px 10px;
    margin: -10px 0px;
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-template-rows: 0px 250px 250px 63px;
    column-gap: 20px;
    row-gap: 25px;
}
#activite h2 {
    display: grid;
    grid-column: 1/4;
    align-self: end;
    font-size: x-large;
}      
#activite .card {
    height: 250px;
    margin: 1px auto;
    padding: 5px;
    border-radius: 20px;
        
    gap: 0px;
    flex-direction: column;
    }
#activite .img {
    width: 100%;
    height: 135px;
    border-radius: 15px 15px 0 0;
    }
#activite .card:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;      
}
#activite .card:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/3;
}
#activite .card:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
}
#activite .card:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
}
#activite .card:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3/4;
}
}

    


        
