:root {
    --main-bg-gray: #f2f2f2;
    --main-bg-blue: #0065FC;
    --main-bg-blue-light: #DEEBFF;
}

ul {
    margin-bottom: 30px;
    list-style-type: none;

	display: grid;
	grid-template-columns: 50% 50%; 
    grid-template-rows: 80px 40px;
	justify-items: center;
    align-items: center;
}

.liste-nav li:nth-child(4) a {
    color: var(--main-bg-blue); 
}
.liste-nav li:nth-child(1){
    margin-right: 55px;
}
.liste-nav li:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/2;
}
.liste-nav li:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}
.liste-nav li:nth-child(4){
    margin-left: 40px;

    grid-column: 2/3;
    grid-row: 1/2;
}
.liste-nav li:nth-child(2),
.liste-nav li:nth-child(3){
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
}

.liste-nav li:nth-child(2) a,
.liste-nav li:nth-child(3) a{
    height: 100%;
    width: 100%;
    border-bottom: solid 3px #f2f2f2;
}
.liste-nav li:nth-child(2) a:hover,
.liste-nav li:nth-child(3) a:hover{
    color: var(--main-bg-blue);
    border-bottom: solid 3px var(--main-bg-blue);  
}

h1 {
	font-size: larger;
	padding: 0 20px 15px;
}
h1 + p {
	font-size: large;
	padding: 0 20px;
}

form > * {
    outline: 0;
    cursor: pointer;
    border: none;
	height: 50px;
}
form {
	/* margin: 40px 0; */
	width: 100%;;
	height: auto;
	padding: 17px 20px;
	display: flex;
	position: relative;
}
label { 
    width: 50px;
    padding: 11px;
    background: var(--main-bg-gray);
    border-radius: 15px 0 0 15px;
    display: flex;
}
label img {
	margin: auto;
}

input {
    width: 80%;
    font-weight: bold;
    padding-left: 15px;
    color: black;
	padding: 17px 20px;
    border-top: 1px solid var(--main-bg-gray);
    border-bottom: 1px solid var(--main-bg-gray);
}
input::placeholder{
    color: black;
    font-size: large;
}

form button {
    width: 45px;
    background-color: var(--main-bg-blue); 
    color: #fff;
	border-radius: 12px;
    position: absolute;
    right: 20px;
}
form i {
    font-size: 20px;
}
form button span {
    display: none;
}

.filtre {
	width: 100%;
	height: 266px;
    padding: 0 20px;

	display: grid;
	grid-template-columns: 50% 47%;
	grid-template-rows: 40px 60px 60px 60px;
	grid-row-gap: 15px;
	grid-column-gap: 3%;
}
.filtre h2 {
	font-size: large;
	margin-top: 17px;
}
.filtre button {
    height: 50px;
	border-radius: 30px;
	border: 1px solid var(--main-bg-gray);
	background: white;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.filtre button:hover { background: var(--main-bg-blue-light);}

.filtre button .img {
    height: 100%;
    width: 50px;
    margin-right: auto;
    border-radius: 62%;
    background: var(--main-bg-blue-light);
    color: var(--main-bg-blue);
    display: flex;
}
.filtre .img i{
    margin: auto;
}
.filtre .img + span {
    font-size: medium;
    margin: auto;
    margin-left: -10px;
}
.filtre button:nth-child(5) .img + span {
    margin: auto;
    margin-left: -5px;
}
.filtre button:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/3;
}
.filtre button:nth-child(3){
    width: 90%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.filtre button:nth-child(4){
    grid-column: 1/2;
    grid-row: 3/4;
}
.filtre button:nth-child(5){
    width: 130%;

    grid-column: 1/2;
    grid-row: 4/5;
}
.filtre + a {
    padding: 20px;
	font-size: medium;
	align-items: center;

    display: flex;
}
.filtre + a  img {
    margin-right: 15px;
    align-self: flex-start;
}
.filtre + a p {
    color: #333;
}

main {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 40px;
}

@media (min-width: 768px) { /* Version tablette */
    header {
        height: 510px;
    }
    .filtre {
        height: 194px;
        grid-template-columns: 29% 29%;
        grid-template-rows: 40px 55px 55px;
    }
ul {
    height: 70px;
    width: 100%; 
    padding: 0 20px;   
    display: flex;
}
.liste-nav li:nth-child(2) a,
.liste-nav li:nth-child(3) a {
    border-bottom: none;
}
.liste-nav li:nth-child(1) {margin-right: auto;height:100%}

.liste-nav li:nth-child(2) {width: 125px;margin: 0 30px;}

.liste-nav li:nth-child(3) {width: 71px;margin: 0 30px;}

.liste-nav li:nth-child(4) {display:flex;height:100%;}

.liste-nav li:nth-child(2) a, 
.liste-nav li:nth-child(3) a, 
.liste-nav li:nth-child(4) a {
    line-height: 57px;
}
.liste-nav li:nth-child(2) a:hover,
.liste-nav li:nth-child(3) a:hover {
    border-bottom:none;
}
.liste-nav li:nth-child(2):hover,
.liste-nav li:nth-child(3):hover {
    border-top: solid 3px var(--main-bg-blue);
}

form > * {
    height: 44px;
}
form {width: 65%;max-width: 444px;}
form button {
    width: 98px;
    right: 25px;
    border-radius: 0 12px 12px 0;
}
form button .fa-search {
    display: none;
}
form button span {
    display: block;
    font-size: medium;
}
form button:hover {
    background: blue;
    box-shadow: 0 0 12px var(--main-bg-blue);
}

.filtre button {max-width: 185px;}
.filtre button:nth-child(5) {
    max-width: 228px;
    grid-column: 2/3;
    grid-row: 3/4;
}
}

@media (min-width: 1025px) {
    header {
        height: 420px;
    }
    ul {
        margin-bottom: 50px;
    }
    ul .item-nav {
        height: 30px;
        margin-top: 42px;
    }
    .liste-nav li:nth-child(1) .item-nav {
        height: 60px;
        margin-top: 50px;
    }

    h1 {
        font-size: larger;
        padding: 20px 20px 0 15px;   
    }

    .filtre {
        height: 80px;
        width: 100%;
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 60px 186px 186px 186px 229px;
        grid-template-rows: 50px;
        grid-column-gap: 18px;
    }

    .filtre .img + span {
        font-size: large;
        margin: auto;
        margin-left: -10px;
    }

    .filtre button:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .filtre button:nth-child(3){
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .filtre button:nth-child(4){
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .filtre button:nth-child(5){
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .filtre + a {
        padding: 0 0 0 20px;
        margin-top: 22px;
    }
    .filtre + a p {
        color: #333; 
    }
}