:root {
    --main-bg-gray: #f2f2f2;
    --main-bg-blue: #0065FC;
    --main-bg-blue-light: #DEEBFF;
}
/*  */
ul {
    margin-bottom: 30px;
    list-style-type: none;

	display: grid;
	grid-template-columns: 50% 50%; 
    grid-template-rows: 80px 40px;
	justify-items: center;
    align-items: center;
}
.liste-nav a {
    text-decoration: none;
    color: black;
}
.liste-nav li:nth-child(4) a {
    color: var(--main-bg-blue); 
}
.liste-nav li:nth-child(1){
    margin-right: 40px;
}
.liste-nav li:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/2;
}
.liste-nav li:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}
.liste-nav li:nth-child(4){
    margin-left: 40px;

    grid-column: 2/3;
    grid-row: 1/2;
}

/*  */
h1 {
	font-size: larger;
	padding: 0 20px 15px;
}
h1 + p {
	font-size: large;
	padding: 0 20px;
}

/*  */
form > * {
    outline: 0;
    cursor: pointer;
    border: none;
	height: 50px;
}
form {
	/* margin: 40px 0; */
	width: 89%;;
	height: auto;
	margin: 17px 20px;
	display: flex;
	position: relative;
}
label {
    width: 50px;
    padding: 11px;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
    display: flex;
}
label img {
	margin: auto;
}
input {
    width: 60%;
    font-weight: bold;
    padding-left: 15px;
    
    border-top: 1px solid var(--main-bg-gray);
    border-bottom: 1px solid var(--main-bg-gray);
}
form button {
    width: 45px;
    background-color: var(--main-bg-blue); 
    color: #fff;
	border-radius: 12px;
}
form i {
    font-size: 20px;
}
form button span {
    display: none;
}

.filtre {
	width: 100%;
	height: 266px;
    padding: 0 20px;

	display: grid;
	grid-template-columns: 50% 47%;
	grid-template-rows: 40px 60px 60px 60px;
	grid-row-gap: 15px;
	grid-column-gap: 3%;
}
.filtre button {
    height: 50px;
	border-radius: 30px;
	border: 1px solid var(--main-bg-gray);
	background: white;
    color: var(--main-bg-blue);

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.filtre button .img {
    height: 100%;
    width: 50px;
    margin-right: auto;
    border-radius: 62%;
    display: flex;
    background: var(--main-bg-blue-light);
}
.filtre .img i{
    margin: auto;
}
.filtre .img + span {
    margin: auto;
}

.filtre button:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/3;
}
.filtre button:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}
.filtre button:nth-child(4){
    grid-column: 1/2;
    grid-row: 3/4;
}
.filtre button:nth-child(5){
    width: 112%;

    grid-column: 1/2;
    grid-row: 4/5;
}

.filtre + a {
    padding: 20px;
	font-size: medium;
	align-items: center;
    text-decoration: none;

    display: flex;
}
.filtre + a  img {
    margin-right: 15px;
    align-self: flex-start;
}
.filtre + a p {
    color: #333;
}

/*  */
main {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 40px;
}

