:root {
    --main-bg-gray: #f2f2f2;
    --main-bg-blue: #0065FC;
    --main-bg-blue-light: #DEEBFF;
}

#hebergement {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
#hebergement h2 {
	font-size: larger;
	padding-bottom: 10px;
}
#hebergement .card {
	width: 100%;
	height: 233px;
	margin: 20px 0;
	padding: 5px;
	box-shadow: 0 0 16px rgba(0,0,0,0.3);
	border-radius: 20px;

	display: grid;
	gap: 6px;
}
#hebergement h3 {
	font-size: medium;
}
#hebergement p {
	font-size: smaller;
}
#hebergement .etoile {
	align-self: end;
    
}
#hebergement h3, #hebergement .etoile, #hebergement p{margin-left: 12px;}

/* (img hebergement) */
#hebergement .img {
    width: 100%;
    height: 135px;
}
#hebergement .img img {
    border-radius: 15px 15px 0 0;
}

#populaire {
    width: 100%;
	height: auto;
	background-color: var(--main-bg-gray);
	margin: 20px 0;
	padding: 35px 20px;

	display: flex;
	flex-direction: column;
}
#populaire .card {
	width: 100%;
	height: 180px;
	padding: 5px 0 5px 5px;
	margin: 10px 0;
	box-shadow: 0 0 16px rgba(0,0,0,0.3);
	border-radius: 30px;
	display: grid;
	grid-template-columns: 47% 49.6%;
	grid-template-rows: 56px 50px 27px;
	align-self: center;
	grid-column-gap: 10px;
	grid-row-gap: 18px;
}
#populaire .title{
	display: flex;
    margin-bottom: 20px;
	justify-content: space-between;
    align-items: center;
}
#populaire .img {
	width: 95%;
	height: 170px;
}
#populaire .img img {
	border-radius: 25px 0 0 25px;
}

#populaire h3 {
    font-size: medium;
    margin-top: 15px;
    grid-column: 2/3;
    grid-row: 1/2;
}
#populaire p {
    font-size: smaller;
    grid-column: 2/3;
    grid-row: 2/3;
}
#populaire .etoile {
    grid-column: 2/3;
    grid-row: 3/4;
}


@media (min-width: 768px) { /* Media queries: Version tablette */

    #populaire,
    #hebergement {
        background: var(--main-bg-gray);
        border-radius: 20px;
        display: grid;
    }

    #populaire {
        padding: 10px 10px;
        grid-template-columns: 31.5% 31.5% 31.5%;
        grid-template-rows: 64px 250px;
        column-gap: 20px;
        margin: 0;
        height: 356px;
    }
    #populaire h3{margin: 0 10px;}

    #populaire p {
        margin: auto 10px;
        display: flex;
        justify-content: flex-start;
    }
    #populaire .etoile {margin: auto 10px;}

    #populaire .title {
        grid-column: 1/4;
        grid-row: 1/2;
        justify-content: space-between;
    }
    #populaire .card {
        height: 250px;
        margin: 20px 0;
        padding: 5px;
        border-radius: 20px;
        display: flex;
        gap: 6px;
        flex-direction: column;
    }
    #populaire .img {
        width: 100%;
        height: 135px;
    }
    #populaire .img img {
        border-radius: 15px 15px 0 0;
    }
    #populaire .card:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #populaire .card:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #populaire .card:nth-child(4) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #hebergement {
        height: 680px;
        padding: 0 10px;
        margin: 33px 0px 0;
        grid-template-columns: 31.5% 31.5% 31.5%;
        grid-template-rows: 47px 250px 250px 50px;
        column-gap: 20px;
        row-gap: 25px;
    }
    #hebergement h2 {
        display: grid;
        grid-column: 1/4;
        align-self: end;
        font-size: x-large;
    } 
    #hebergement p {
        margin: 10px 10px;
        display: flex;
        justify-content: flex-start;
        margin-top: -5px;
    }
    #hebergement .etoile {margin: auto 10px;}
    
    #hebergement .card {
        height: 250px;
        margin: 1px auto;
        padding: 5px;
        border-radius: 20px;
            
        gap: 0px;
        flex-direction: column;
    }
    #hebergement .img {
        width: 100%;
        height: 135px;
    }
    #hebergement .img img {
        border-radius: 15px 15px 0 0;
    }
    #hebergement .card:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;  
    }
    #hebergement .card:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #hebergement .card:nth-child(4) {
        grid-column: 3/4;
        grid-row: 2/4;
    }
    #hebergement .card:nth-child(5) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #hebergement .card:nth-child(6) {
        grid-column: 2/2;
        grid-row: 3/4;
    }
    #hebergement .card:nth-child(7) {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    a {
        display: grid;
        grid-column: 1/2; 

        display: flex;
        align-self: flex-start;
    }
    #hebergement a {
        align-self: center;
    }
}

@media (min-width: 1025px) { /* Media queries: Version Desktop */
    
    main {
        padding: 0 20px;
        flex-direction: row;
        column-gap: 30px;
    }

    #hebergement, 
    #populaire {
        height: 656px;
        padding: 28px 2%;
        border-radius: 20px;
    }
    #hebergement .card h3,
    #populaire h3 {
        font-size: smaller;
    }
    #hebergement .card p,
    #populaire p {
        font-size: small;
    }

    #hebergement {
        width: 71%;
        margin: 0;
        grid-template-rows: 39px 220px 220px 47px;
    }
    #hebergement .card {
        height: 215px;
    }
    #hebergement .card h3 {
        line-height: 30px;
    }
    #hebergement a {
        align-self: center;
    }


    #populaire {
        width: 31%;
        margin: 0;
        
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
    #populaire .card {
        width: 100%;
        height: 140px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 40% 57%;
        grid-template-rows: 46px 48.5px 19px;
        align-self: center;
        column-gap: 8px;
    }
    #populaire .title{
        font-size: medium;
        margin-bottom: 6px;
    }
    #populaire .img {
        grid-row: 1/4;
        grid-column: 1/2;
        width: 100%;
        height: 126px;
    }
    #populaire .img img {
        border-radius: 10px 0 0 10px;
    }
    #populaire h3 {
        margin: 10px 0 0 10px;
    }
    #populaire p {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #populaire .etoile {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}