:root {
    --main-bg-gray: #f2f2f2;
    --main-bg-blue: #0065FC;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
